
/* Internet Explorer 5.5/6 bug-fixes */



body{text-align:center;}
.page-content{width:980px;text-align:left;}

#primary-content,#sidebar,#sidebar2{position:static;}

pre{word-wrap:break-word;}

/* png replacements */
#header a.rss{background:transparent url(images/ie6/rss.png) no-repeat center top;bottom:16px;}
.block-twitter a.followMe{background:transparent url(images/ie6/twitter.png) no-repeat center top;}
.block h3.title,.block h3.title span,.block .block-div,.block .block-div-arrow{background-image:url(images/ie6/block-title.png);}
ul.box-tabs li a{background-image:url(images/ie6/box-tabs.png);}
#footer-blocks .slide-navigation a.next,#footer-blocks .slide-navigation a.previous{background-image:url(images/ie6/block-nav.png);}

ul#navigation li a{height:32px;float:left;}
ul#navigation li li a{height:auto;float:none;}

ul#navigation li.active a span.pointer,ul#navigation li.current_page_item a span.pointer,ul#navigation li.current_page_parent a span.pointer,ul#navigation li.current_page_ancestor a span.pointer{display:none;}


/* no shadows (no point to use pngfix, waste of resources */
.shadow-left,.shadow-right{background:none;}

#main-inside{
  height: 100%;
}

.post-info{height:42px;}

.post-date p{
  float: left;
  line-height: 100%;
  padding-top: 8px;
}

.post-info p{line-height:100%;margin-top:10px;display:block;}

.post-info p.author{padding: 0 100px 0 6px;}


li.comment .comment-head{position:static;}
li.comment .avatar-box{float:left;position:static;}
li.comment.withAvatars .comment-head{padding-left:0px;}

.block .block-div{display:none;}
.block .block-div-arrow{margin:0;}

.block-flickr h3.title span{padding-left:0;}
.block-flickr h3.title span.icon{display:none;}

.search-form{position:relative;margin:0 auto;width:100%;}
.search-form input.text{width:80px;}

.sidebar-tabs{padding-top:26px;}

.box ul.menuList li {display:inline;}
.box ul.menuList .fadeThis{position:static;}

.tabs li:hover a,.tabs li a:hover{background-position:0 0px;}

a#fancy_left,a#fancy_right{background-image:url(data:image/gif;base64,AAAA);}
div#fancy_overlay{position:absolute;height:expression(document.body.scrollHeight>document.body.offsetHeight?document.body.scrollHeight:document.body.offsetHeight+'px');}

#footer-blocks .leftFade,#footer-blocks .rightFade{display:none;}
