
/*
Theme Name: Mystique
Theme URI: http://digitalnature.ro/projects/mystique
Description:  Feature-packed theme with a solid design and a friendly interface. Designed by <a href="http://digitalnature.ro/">digitalnature</a>.
Version: 1.08
Author: digitalnature
Author URI: http://digitalnature.ro
Tags: light, white, two-columns, three-columns, fixed-width, flexible-width, right-sidebar, left-sidebar, theme-options, threaded-comments, translation-ready, custom-header

	Mystique Wordpress theme
	  http://digitalnature.ro/projects/mystique

	Theme designed by digitalnature. See the project page for more info and updates

	Both the design and code are released under GPL.
    http://www.opensource.org/licenses/gpl-license.php

*/



/* reset spacing */
*{margin:0;padding:0;}

html,body{height:100%;}
html{font-size:100%;}
body{background:#000 url(images/header.jpg) no-repeat center top;font-family:"Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;color:#4e4e4e;min-height:100%;height:auto !important;/* <- ie6 ignores it */height:100%;/* fix */position:relative;}

#page{background:transparent url(images/bg.png) repeat-x center bottom;}

/* page width. default = fluid @ 780-1190px (max. possible width is 1735px)  */
.page-content{width:100%;/* <- do not change this! use max-width to set the page width! */max-width:980px;min-width:780px;margin:0 auto;}


/*** GENERAL ELEMENTS ***/

/* links */
a{color:#0071bb;}
a:hover{color:#ed1e24;text-decoration:none;}

/* headings */
h1{font-weight:normal;font-size:300%;letter-spacing:-.04em;line-height:100%;margin:.8em 0 .2em;}
h2{font-weight:normal;font-size:220%;letter-spacing:-.04em;line-height:110%;margin:.7em 0 .2em;}
h3{font-size:180%;font-weight:normal;letter-spacing:-.04em;line-height:110%;margin:.7em 0 .2em;text-shadow:#fff 1px 1px 1px;}
h4{font-size:150%;font-weight:bold;margin:.7em 0 .2em;}
h5{font-family:"Palatino Linotype", Georgia, Serif;font-size:150%;font-weight:bold;margin:.5em 0 .2em;letter-spacing:-.02em;}
h6{font-size:125%;font-weight:normal;text-transform:uppercase;margin:.5em 0 .2em;}

/* tables */
table{margin:.5em 0 1em;}
table td,table th{text-align:left;border-right:1px solid #fff;padding:.4em .8em;}
table th{background-color:#5e5e5e;color:#fff;text-transform:uppercase;font-weight:bold;border-bottom:1px solid #e8e1c8;}
table td{background-color:#eee;}
table th a{color:#d6f325;}
table th a:hover{color:#fff;}
table tr.even td{background-color:#ddd;}
table tr:hover td{background-color:#fff;}

table.nostyle td,table.nostyle th,table.nostyle tr.even td,table.nostyle tr:hover td{border:0;background:none;background-color:transparent;}


/* forms */
input,textarea,select{font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;font-size:100%;margin:.2em 0;}
input,textarea{padding:.2em .4em;}
input.radio,input.checkbox{background-color:#fff;padding:2px;}
form label{font-weight:normal;}
fieldset{padding:.8em;border:1px solid #ddd;background-color:#fff;margin:1em 0;}
legend{padding:2px 15px 10px;text-transform:uppercase;font-style:italic;font-size:115%;background-color:#fff;border-top:1px solid #ddd;}

/* lists */
ul,ol{margin:.4em 0 1em;line-height:150%;}
ul li,ol li{list-style-position:outside;margin-left:1.6em;}
dl{padding:.3em 0 .8em;}
dt{float:left;clear:left;width:9em;text-align:right;font-weight:bold;text-decoration:underline;}
dd{margin:0 0 0 10em;padding:0 0 .5em;}

/* other */
p{margin:.6em 0 .3em;line-height:150%;}
img{border:0;}
hr{color:#b4aca1;background-color:#b4aca1;border-bottom:1px solid #f6f4eb;}
small{font-size:80%;}
pre{overflow:auto;white-space:pre-wrap;/* <- css3 */white-space:0;/* <- ff */font-size:12px;font-family:"Courier New", Courier, "Lucida Console", Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Bitstream Vera Sans Mono";background-color:#fff;padding:.4em;margin:1em 0;}
pre{width:80%;overflow:hidden;border:1px solid #ddd;background-color:#fff;padding:.8em;margin:1em 0;}
blockquote{margin:1em 25% 1em 0;min-height:40px;padding:.6em 1em .6em 2.4em;border:1px dotted #ddd;font-style:italic;color:#474747;background:#fff url(images/blockquote.png) no-repeat 4px top;}
blockquote p{padding:8px;margin:2px;}
blockquote blockquote{margin:1em 0 1em;}


#header{display:block;position:relative;height:180px;}

#header a.rss{background:transparent url(images/rss.png) no-repeat center top;width:64px;height:36px;display:block;position:absolute;bottom:18px;right:20px;}
#header a.rss span{display:none;}

/*** LOGO & HEADLINE ***/

#site-title{position:absolute;left:0;top:40px;z-index:1;}
#site-title h1#logo{font-size:500%;font-weight:bold;font-style:normal;margin:0;padding:0;float:left;line-height:60px;}
#site-title h1#logo a{color:#ddd;text-decoration:none;text-shadow:#fff 1px 1px 1px;font-variant:small-caps;}
#site-title h1#logo a:hover{color:#ed1e24;}
#site-title p.headline{float:left;border-left:1px solid #999;margin:0 0 0 1em;padding:.2em 0 .2em .8em;font-weight:normal;font-size:150%;color:#c2dc15;line-height:64px;letter-spacing:0.4em;}


/*** TOP NAVIGATION ***/

ul#navigation{background:#eee url(images/nav.png) repeat-x left bottom;position:absolute;z-index:15;bottom:0;left:0;width:100%;padding:0;margin:0;list-style-type:none;}
ul#navigation li{display:block;position:relative;float:left;list-style-type:none;padding:0 1px 0 0;margin:0;background:transparent url(images/nav-div.gif) repeat-y right top;}
ul#navigation li a{min-height:32px;display:block;font-weight:bold;font-size:120%;text-transform:uppercase;text-decoration:none;text-shadow:#fff 1px 1px 1px;text-align:center;color:#4e4e4e;padding:0 13px 0 11px;position:relative;line-height:31px;}
ul#navigation li a.home span.title{background:transparent url(images/icons.png) no-repeat 0px -756px;padding-left:20px;}
ul#navigation li.active a.home span.title,ul#navigation li.current_page_item a.home span.title{background-position:0px -710px;}
ul#navigation li a:hover,ul#navigation li:hover a{background-color:#fff;}
ul#navigation li.active a:hover,ul#navigation li.active:hover a{background-color:#000;}
ul#navigation li a span.title{display:block;padding:0;}
ul#navigation li a span.pointer{display:none;}
ul#navigation li.active a span.pointer,ul#navigation li.current_page_item a span.pointer,ul#navigation li.current_page_parent a span.pointer,ul#navigation li.current_page_ancestor a span.pointer{position:absolute;width:100%;height:7px;bottom:-7px;left:0;display:block;background:transparent url(images/nav-pointer.gif) no-repeat center top;}
ul#navigation li.active a,ul#navigation li.current_page_item a,ul#navigation li.current_page_parent a,ul#navigation li.current_page_ancestor a{background:#000 url(images/nav-active.png) no-repeat left top;color:#dedede;text-shadow:#000 1px 1px 1px;}
ul#navigation li a span.arrow{display:none;}

/* fade on mouse out */
ul#navigation li a.fadeThis{position:relative;z-index:1;}
ul#navigation li a.fadeThis span.hover{position:absolute;top:0;left:0;display:block;height:100%;width:100%;background-color:#fff;z-index:-1;margin:0;padding:0;}
ul#navigation li.active a.fadeThis span.hover,ul#navigation li.current_page_parent a.fadeThis span.hover,ul#navigation li.current_page_ancestor a.fadeThis span.hover{background:none;}
ul#navigation li.active a.fadeThis span.hover,ul#navigation li.current_page_item a.fadeThis span.hover{background-color:transparent;}

/* submenus */
ul#navigation ul li a span.pointer{display:none !important;}
ul#navigation ul{list-style-type:none;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;position:absolute;display:none;width:250px;top:32px;left:0;margin:0;padding:4px;line-height:100%;z-index:20;background-color:#fff;-moz-box-shadow:0px 8px 14px rgba(0,0,0,0.3);-moz-border-radius-bottomright:8px;-moz-border-radius-bottomleft:8px;-webkit-box-shadow:0px 8px 14px rgba(0,0,0,0.3);-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;box-shadow:0px 8px 14px rgba(0,0,0,0.3);border-bottom-right-radius:8px;border-bottom-left-radius:8px;}
ul#navigation li.active ul,ul#navigation li.current_page_item ul,ul#navigation li.current_page_parent ul,ul#navigation li.current_page_ancestor ul{background-color:#000;}
ul#navigation li.active li a,ul#navigation li.current_page_item li a,ul#navigation li.current_page_parent li a,ul#navigation li.current_page_ancestor li a{background:none;}
ul#navigation ul li{float:none;margin:0;background:none;}
ul#navigation ul li a span.title{padding-left:10px;}
ul#navigation ul li a{min-height:1px;height:auto;padding:8px 0 8px 12px;margin:0;text-align:left;text-transform:none;line-height:125%;}
ul#navigation li.active ul a,ul#navigation li.current_page_item ul a{background:none;}
ul#navigation ul li a:hover{background-color:#333;color:#fff;text-shadow:#333 1px 1px 1px;}
ul#navigation ul li.active a,ul#navigation ul li.current_page_item a{color:#f8b013;}
ul#navigation ul li.current_page_item li a{color:#dedede;}
ul#navigation ul li a span.title{padding:0;}
ul#navigation ul ul{left:250px;top:0;border-top:1px solid #ccc;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
ul#navigation li:hover ul ul,ul#navigation li:hover ul ul ul,ul#navigation li:hover ul ul ul ul{display:none;}
ul#navigation li:hover ul,ul#navigation li li:hover ul,ul#navigation li li li:hover ul,ul#navigation li li li li:hover ul{display:block;}
ul#navigation li li a span.arrow{display:block;position:absolute;right:6px;top:0;line-height:32px;}


/* fade on mouse out */
ul#navigation li li a.fadeThis span.hover,ul#navigation li.active li a.fadeThis span.hover,ul#navigation li.current_page_item li a.fadeThis span.hover,ul#navigation li.current_page_ancestor li a.fadeThis span.hover{background-color:#333;}


/*** FEATURED CONTENT ***/

#featured-content{background:#5e5e5e url(images/featured.jpg) no-repeat center top;border-top:1px solid #818389;color:#fff;position:relative;margin:0 auto;}
.featured-content{width:100%;max-width:980px;}

#featured-content .slide-container{max-width:980px;margin:0;padding-bottom:1em;height:106px}

#featured-content h3{font-size:200%;font-weight:bold;text-shadow:#000 1px 1px 1px;margin:0;padding:.2em 0 .6em 0;}
#featured-content .summary{font-size:125%;line-height:150%;}
#featured-content .details{float:left;width:700px;}
#featured-content .details img{border:3px solid #fff;}
#featured-content a.readmore{float:right;width:192px;height:40px;text-transform:uppercase;background:transparent url(images/readmore.png) no-repeat center top;color:#333;text-decoration:none;font-weight:bold;font-size:160%;line-height:40px;text-shadow:#fff 1px 1px 1px;text-align:center;margin-top:1.2em;}
#featured-content a.readmore:hover{background-position:center bottom;}



/*** MAIN LAYOUT ***/


.shadow-left{background:url(images/shadow.png) no-repeat left bottom;}
.shadow-right{background:url(images/shadow.png) no-repeat right bottom;padding-bottom:32px;}
#main{background:#fff url(images/main-right.jpg) no-repeat right top;}
#main-inside{background:transparent url(images/main-left.jpg) no-repeat left top;min-height:810px;padding:1em;}

#primary-content{width:70%;top:0;left:0;position:relative;float:left;z-index:0;overflow:hidden;}
#sidebar{width:30%;position:relative;right:0;top:0;float:left;z-index:0;overflow:hidden;}
#sidebar2{width:30%;position:relative;right:0;top:0;float:left;z-index:0;overflow:hidden;}

ul.sidebar-blocks,ul.sidebar-blocks li.block{list-style-type:none;margin:0;padding:0;}
ul.sidebar-blocks{margin-left:1em;/* <- space between main content and sidebar */}
ul.sidebar-blocks li.block{margin:1em 0 2em;position:relative;}

.block ul{list-style-type:none;margin:0 0 .4em 0;}
.block li{background:transparent url(images/icons.png) no-repeat 4px -818px;margin:0;padding:0 0 0 18px;}
.block li:hover{background-position:4px -1007px;}
.block li li{margin-left:.4em;}

/* no sidebars */
body.col-1 #primary-content{width:100%;}

/* left sidebar */
body.col-2-left #primary-content{left:30%;}
body.col-2-left #sidebar{left:-70%;}
body.col-2-left ul.sidebar-blocks{margin:0 1em 0 0;}

/* right sidebar (default) */
body.col-2-right #primary-content{left:0%;}
body.col-2-right #sidebar{right:0;}
body.col-2-right ul.sidebar-blocks{margin:0 0 0 1em;}

/* 3 col: sidebar1 + primary + sidebar2 */
body.col-3 #primary-content{left:25%;width:50%;}
body.col-3 #sidebar{left:-75%;width:25%;}
body.col-3 #sidebar2{left:25%;width:25%;}
body.col-3 #sidebar ul.sidebar-blocks{margin:0 1em 0 0;}
body.col-3 #sidebar2 ul.sidebar-blocks{margin:0 0 0 1em;}

/* 3 col: sidebar1 + sidebar2 + primary */
body.col-3-left #primary-content{left:50%;width:50%;}
body.col-3-left #sidebar{left:-75%;width:25%;}
body.col-3-left #sidebar2{left:-25%;width:25%;}
body.col-3-left ul.sidebar-blocks{margin:0 1em 0 0;}

/* 3 col: primary + sidebar1 + sidebar2 */
body.col-3-right #primary-content{left:0%;width:50%;}
body.col-3-right #sidebar{left:-25%;width:25%;}
body.col-3-right #sidebar2{left:25%;width:25%;}
body.col-3-right ul.sidebar-blocks{margin:0 0 0 1em;}


h1.title{
  font-weight: bold;
  font-size: 300%;
  text-shadow: #fff 1px 1px 1px;
  margin: .5em 0 .3em 0;
  padding: 0;
}

/* post */
.post, .page{margin:1em 0 2em 0;padding:0 0 .6em;display:block;background:transparent url(images/dot.gif) repeat-x left bottom;}
body.single .post{background: none;margin:0;padding:0;}


h2.title{
  font-weight: bold;
  font-size: 200%;
  margin: 0 0 .2em 0;
  padding: 0 100px 0 0;
  text-shadow: #fff 1px 1px 1px;
}

h2.title a{text-decoration:none;color:#4e4e4e;}
h2.title a:hover{color:#ed1e24;text-decoration:none;}

h3.title{font-size:150%;font-weight:bold;margin:0;padding:0;}

.post-summary{margin:1em 0 .2em;text-shadow:#fff 1px 1px 1px;color:#797979;font-size:90%;text-transform:uppercase;letter-spacing:.1em;}
.post-summary p{margin:0;padding:0;}
.post-excerpt{font-size:90%;font-style:italic;color:#999;}

.post-info{background:transparent url(images/info-bar.png) no-repeat right top;height:42px;margin-left:11px;font-style:italic;color:#bbb;}
.post-info a{font-weight:bold;color:#999;}
.post-info a:hover{color:#ed1e24;}
.post-info p{margin:0;padding:0;line-height:32px;}
.post-info p.author{padding: 0 100px 0 6px;}
.post-info p.comments{padding: 0 12px 0 0;}
.post-info p.comments a.comments{background:transparent url(images/icons.png) no-repeat 0px -50px;padding-left:20px;}
.post-info p.comments a.no.comments{background-position:0px 0px;}
.post-date{background:transparent url(images/info-bar.png) no-repeat left -75px;padding-left:11px;float:left;}
.post-date p{background:transparent url(images/info-bar.png) no-repeat right -42px;height:33px;padding:0 16px 0 0;margin:0;font-size:115%;line-height:30px;color:#fff;}
.post .post-content p{margin:0 0 .8em 0;padding:0;}
.post .post-tags{background:transparent url(images/icons.png) no-repeat 20px -104px;font-style:italic;padding-left:20px;line-height:22px;}

.post-meta{padding:.6em .8em;border-top:1px solid #ddd;background-color:#f6f6f6;color:#999;display:block;}
.post-meta a{color:#666;text-decoration:underline;}
.post-meta a:hover{color:#ed1e24;text-decoration:none;}

.post-meta .details{float:left;font-size:80%;line-height:150%;}
.post-meta .details.share{width:75%;}

/* share this */
.shareThis{position:relative;float:left;width:25%;}
.shareThis a.share{display:block;float:left;padding:2px 16px 4px 16px;background-color:#eee;text-shadow:#fff 1px 1px 1px;text-decoration:none;font-weight:bold;font-size:130%;border: 1px solid #fff;border-radius:3px;text-align:center;;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.shareThis a.share:hover,.shareThis:hover a{background-color:#0071bb;text-shadow:#666 1px 1px 1px;color:#fff;}
.shareThis .bubble{width:256px;left:0px;top:0px;margin-top:40px;padding:4px;background-color:#fff;border:1px solid #ddd;;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.4);-moz-border-radius:8px;-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.4);-webkit-border-radius:8px;box-shadow:0px 0px 8px rgba(0,0,0,0.4);border-radius:8px;}
.shareThis .bubble a{background:transparent url(images/socialize.jpg) no-repeat left bottom;width:32px;height:32px;float:left;position:relative;z-index:5;}
.shareThis .bubble a.twitter{background-position:0px -32px;}
.shareThis .bubble a.digg{background-position:-32px -32px;}
.shareThis .bubble a.facebook{background-position:-64px -32px;}
.shareThis .bubble a.delicious{background-position:-96px -32px;}
.shareThis .bubble a.stumbleupon{background-position:-128px -32px;}
.shareThis .bubble a.google{background-position:-160px -32px;}
.shareThis .bubble a.linkedin{background-position:-192px -32px;}
.shareThis .bubble a.yahoo{background-position:-224px -32px;}
.shareThis .bubble a.technorati{background-position:-256px -32px;}

.shareThis .bubble a.twitter:hover{background-position:0 0px;}
.shareThis .bubble a.digg:hover{background-position:-32px 0px;}
.shareThis .bubble a.facebook:hover{background-position:-64px 0px;}
.shareThis .bubble a.delicious:hover{background-position:-96px 0px;}
.shareThis .bubble a.stumbleupon:hover{background-position:-128px 0px;}
.shareThis .bubble a.google:hover{background-position:-160px 0px;}
.shareThis .bubble a.linkedin:hover{background-position:-192px 0px;}
.shareThis .bubble a.yahoo:hover{background-position:-224px 0px;}
.shareThis .bubble a.technorati:hover{background-position:-256px 0px;}

.shareThis .bubble a span{display:none;}

.page-navigation{color:#999;margin:2em 0;}
.page-navigation a{border:#ddd 1px solid;background-color:#fff;padding:3px 6px;text-decoration:none;}
.page-navigation .page{margin:0;padding:0;background:none;display:inline;}
.page-navigation span.current{border:#2cb9db 1px solid;color:#fff;padding:3px 6px;text-decoration:none;background-color:#0071bb;}


a#cancel-comment-reply-link{background-color:#5e5e5e;color:#fff;padding:2px 6px;font-weight:bold;text-decoration:none;}
a#cancel-comment-reply-link:hover{background-color:#ed1e24;color:#fff;}


li.ping{background:transparent url(images/dot.gif) repeat-x left bottom;padding:0 0 .6em 0;margin:.2em 0;line-height:150%;}
li.ping a{font-weight:bold;font-size:115%;text-decoration:none;}

/* comment form */
.comment-form{background:#f6f6f6 url(images/comment-bg.gif) no-repeat right bottom;border-top:1px solid #ddd;padding:1em;margin:1em 0;float:left;}

/* comment navi */
.comment-navigation{margin:1em 0;}
.comment-navigation a{border:#ddd 1px solid;padding:3px 6px;text-decoration:none;}
.comment-navigation a:hover{border:#ff284b 1px solid;background-color:#ed1e24;color:#fff;}
.comment-navigation span.current{border:#2cb9db 1px solid;color:#fff;padding:3px 6px;text-decoration:none;background-color:#0071bb;}


/* search */
.search-form{position:relative;margin:0 8px 0 4px;width:auto !important;width: 400px;max-width:400px;}
.search-form form fieldset{border:0;margin:0;padding:0;background:none;background-color:transparent;}
.search-form #searchfield{background:transparent url(images/search.png) no-repeat left top;height:34px;display:block;margin-right:55px;}
.search-form input.text{border:0;margin:9px 0 0 34px;padding:0;}
.search-form input.submit{background:transparent url(images/search.png) no-repeat right -34px;height:34px;width:56px;margin:0;padding:0;position:absolute;right:0;top:0;border:0;text-transform:uppercase;text-shadow:#fff 1px 1px 1px;font-weight:bold;font-size:160%;color:#9b9b9b;cursor:pointer;}
.search-form input.submit:hover{background-position:right bottom;}
#primary-content .search-form{margin:2em 0;}

/* block style */
.block h3.title{font-weight:bold;font-size:140%;background:transparent url(images/block-title.png) no-repeat left top;color:#fff;line-height:100%;letter-spacing:normal;margin:0;padding:0;text-shadow:rgba(0,0,0,0.4) 1px 1px 1px;text-transform:uppercase;text-align:left;line-height:23px;}
.block h3.title span{background:transparent url(images/block-title.png) no-repeat right top;margin-left:7px;display:block;padding:4px 8px 0 4px;}
.block h3.title a{color:#fff;text-decoration:none;}
.block h3.title a:hover{color:#FFFF00;}
.block .block-div{background:transparent url(images/block-title.png) no-repeat left bottom;width:7px;height:23px;float:left;}
.block .block-div-arrow{background:transparent url(images/block-title.png) no-repeat right bottom;height:23px;margin-left:7px;}


.box{max-width:600px;position:relative;z-index:5;}
.box-top-left{background:transparent url(images/box.png) no-repeat left top;padding-left:7px;}
.box-top-right{background:transparent url(images/box.png) no-repeat right top;height:7px;}
.box-main{background:transparent url(images/box.png) no-repeat left bottom;padding-left:7px;}
.box-main .box-content{background:transparent url(images/box.png) no-repeat right bottom;padding:10px 7px 10px 0;}

.box .tag-cloud{text-align:justify;line-height:150%;}
.box .tag-cloud a{vertical-align:middle;text-decoration:none;padding:0 0.2em;letter-spacing:-0.02em;color:#ccc;text-shadow:#000 1px 1px 1px;}
.tag-cloud a:hover{background-color:#dde90d;color:#000;text-shadow:#aeb805 1px 1px 1px;}

.sidebar-tabs{position:relative;padding-top:44px;}

ul.box-tabs, ul.box-tabs li{padding:0;margin:0;line-height:100%;list-style-type:none;background:none;}
ul.box-tabs{position:absolute;right:6px;top:0;z-index:10;height:50px;overflow:hidden;}
ul.box-tabs li{float:right;margin-right:3px;}

ul.box-tabs li a{width:43px;height:50px;display:block;background:transparent url(images/box-tabs.png) no-repeat left top;}

ul.box-tabs li.categories a{background-position:0px 0px;}
ul.box-tabs li.popular a{background-position:-43px 0px;}
ul.box-tabs li.recentcomm a{background-position:-86px 0px;}
ul.box-tabs li.tags a{background-position:-129px 0px;}
ul.box-tabs li.archives a{background-position:-172px 0px;}

ul.box-tabs li a:hover{height:43px;}
ul.box-tabs li.active a:hover{height:50px;}

ul.box-tabs li.categories.active a,ul.box-tabs li.categories a:hover{background-position:0px -50px;}
ul.box-tabs li.popular.active a,ul.box-tabs li.popular a:hover{background-position:-43px -50px;}
ul.box-tabs li.recentcomm.active a,ul.box-tabs li.recentcomm a:hover{background-position:-86px -50px;}
ul.box-tabs li.tags.active a,ul.box-tabs li.tags a:hover{background-position:-129px -50px;}
ul.box-tabs li.archives.active a,ul.box-tabs li.archives a:hover{background-position:-172px -50px;}

ul.box-tabs li a span{display:none;}

/* menu list */
.box ul.menuList,.box ul.menuList li{margin:0;padding:0;list-style-type:none;font-size:100%;}
.box ul.menuList{background:transparent url(images/dot2.gif) repeat-x left bottom;margin-bottom:.6em;padding-bottom:2px;}
.box ul.menuList li{background:transparent url(images/dot2.gif) repeat-x left top;display:block;padding:2px 0 0px;}
.box ul.menuList li li{background-image:none;}
.box ul.menuList li a{display:block;text-decoration:none;padding:3px 3px 3px 0;color:#ccc;}
.box ul.menuList.categories li a{padding-right:25px;} /* rss icon space */
.box ul.menuList li a:hover{color:#fff;}
.box ul.menuList li a span.entry{background:transparent url(images/icons.png) no-repeat 4px -818px;padding-left:18px;display:block;font-weight:bold;}
.box ul.menuList li a span.entry .details{font-weight:normal;font-style:italic;display:block;}
.box ul.menuList li a span.entry .details.inline{display:inline;}
.box ul.menuList li a:hover span.entry{background-position:4px -1007px;}
.box ul.menuList li li a span.entry{background:none;}
.box ul.menuList .fadeThis{position:relative;z-index:1;}
.box ul.menuList span.hover{position:absolute;top:0;left:0;display:block;height:100%;width:100%;background-color:#747474;z-index:-1;padding:0!important;}

/* sub menus */
.box ul.menuList ul{margin:0 0 1em 0;padding:0;}
.box ul.menuList li li{margin:0 0 0 1.8em;padding:0;float:none;background:none;width:auto;}
.box ul.menuList li li li{margin-left:1em;}
.box ul.menuList li li a{text-transform:none;padding:0;font-size:100%;font-style:italic;}
.box ul.menuList li li a:hover{background:none;}

/* rss popups */
.box ul.menuList li.cat-item{position:relative;}
.box ul.menuList li.cat-item a.rss{position:absolute;padding:0;margin:0;display:none;background:transparent url(images/icons.png) no-repeat center -666px;width:24px;height:22px;top:0;right:6px;z-index:10;cursor:pointer;}
.box ul.menuList li.cat-item li.cat-item a.rss{background:none;visibility:hidden;}
.box ul.menuList li li .fadeThis{position:static;background:none;}
.box ul.menuList li li .fadeThis span.hover{display:none;}


.box ul.menuList.recentcomm li a span.entry,.box ul.menuList.recentcomm li a:hover span.entry{background:transparent url(images/icons.png) no-repeat 0px -1282px;padding-left:20px;}


/*** FOOTER ***/

#footer{
  background: #fff;
}

/* block slider */
#footer-blocks{position:relative;margin:0 auto 1em auto;}
#footer-blocks .leftFade,#footer-blocks .rightFade{background:transparent url(images/bg-trans2.png) repeat-y left top;position:absolute;width:46px;min-height:100%;height:100%;/* <- for opera */top:0;z-index:10;}
#footer-blocks .leftFade{left:0;}
#footer-blocks .rightFade{background-position:right top;right:0;}
.slide-container{width:100%;overflow:hidden;position:relative;margin:0 auto;}
ul.slides{position:relative;top:0;left:0;list-style-type:none;margin:0;padding:0;width:100%;min-height:100%;display:block;}
#footer-blocks .slide-navigation a.next,#footer-blocks .slide-navigation a.previous{background:transparent url(images/block-nav.png) no-repeat left top;width:30px;height:42px;position:absolute;z-index:12;top:60px;}
#footer-blocks .slide-navigation a.next{background-position:right top;right:0;}
#footer-blocks .slide-navigation a.previous{left:0;}
#footer-blocks .slide-navigation a.next:hover{background-position:right bottom;}
#footer-blocks .slide-navigation a.previous:hover{background-position:left bottom;}
#footer-blocks .slide-navigation a.next span,#footer-blocks .slide-navigation a.previous span{display:none;}
ul.slides li.slide{list-style-type:none;position:relative;top:0;margin:0;padding:1em 0 0;display:block;}

/* only hide if slider is enabled (it is if there are more than 3 blocks) */
.withSlider ul.slides li.slide.page-content{position:absolute;display:none;}

ul.slides li.slide .slide-content{width:95%;margin:0 auto;}
ul.slides li.slide .slide-content ul.blocks,#footer-blocks ul.slides li.slide .slide-content ul.blocks li.block{list-style-type:none;margin:0;padding:0;}
ul.slides li.slide .slide-content ul.blocks li.block{width:33%;float:left;margin:0;padding:0;position:relative;}
ul.slides li.slide .slide-content ul.blocks li.block .block-content{padding:0 .8em;}
/* block width based on widget number (default block width is 30% + spacing, 3 blocks per slide) */
ul.slides li.slide .slide-content ul.blocks.widgetcount-1 li.block{width:100%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-2 li.block{width:50%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-3 li.block{width:33%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-4 li.block{width:25%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-4 li.block .block-content{padding:0 .6em;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-5 li.block{width:20%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-5 li.block .block-content{padding:0 .5em;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-6 li.block{width:16.6%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-6 li.block .block-content{padding:0 .4em;}

ul.slides li.slide .slide-content ul.blocks li.block h4.title{font-size:160%;font-weight:bold;background:#eee url(images/bg-lightgray.png) no-repeat left top;padding:.4em .6em;margin:0 0 .2em;text-shadow:#fff 1px 1px 1px;line-height:100%;color:#797979;position:relative;}


ul.slides li.slide.slide-2,
ul.slides li.slide.slide-3,
ul.slides li.slide.slide-4,
ul.slides li.slide.slide-5,
ul.slides li.slide.slide-6,
ul.slides li.slide.slide-7,
ul.slides li.slide.slide-8{display:none;}

/* copyright & other info */
#footer #copyright{display:block;padding:1em 2em;text-align:center;border-top:1px solid #ddd;line-height:200%;}

#footer a.rss-subscribe{padding:4px 8px 4px 28px;background:#666 url(images/icons.png) no-repeat 2px -666px;color:#fff;text-decoration:none;text-transform:uppercase;font-weight:bold;}
#footer a.valid-xhtml,#footer a.valid-css,#footer a#goTop{padding:4px 8px 4px 8px;color:#fff;background-color:#666;text-decoration:none;text-transform:uppercase;font-weight:bold;}


/*** BLOCKS ***/

/* info */
.block-info{font-size: 150%;font-weight:bold;text-align:center;padding: .3em .7em;background-color:#eee;text-shadow:#fff 1px 1px 1px;border:1px solid #fff;}

/* increase right padding to fit rss icon */
.block-categories ul.menuList.linkBased li a span.entry{display:block;text-decoration:none;padding-right:36px;}

/* twitter */
.block-twitter ul, .block-twitter ul li{padding:0;margin:0;list-style-type:none;}
.block-twitter ul{background:transparent url(images/dot.gif) repeat-x left top;padding-top:.2em;}
.block-twitter ul li,.block-twitter ul li:hover{background:transparent url(images/dot.gif) repeat-x left bottom;margin-bottom:.2em;padding-bottom:.2em;}
.block-twitter ul li span.entry{background:transparent url(images/icons.png) no-repeat 6px -383px;padding-left:24px;display:block;}
.block-twitter div.avatar{float:left;display:block;margin-left:10px;}
.block-twitter div.info{float:left;display:block;padding:2px 0 0 10px;line-height:175%;font-weight:bold;}
.block-twitter div.info .followers{font-size:125%;}
.block-twitter a.date{color:#bbb;text-decoration:none;font-style:italic;display:block;}
.block-twitter a.date:hover{color:#ed1e24;}
.block-twitter .links{text-align:right;background:transparent url(images/bg-trans.png) repeat-x left bottom;padding-right:1em;}
.block-twitter a.followMe{position:absolute;background:transparent url(images/twitter.png) no-repeat center top;width:45px;height:57px;display:block;top:-14px;right:20px;z-index:4;}
.block-twitter a.followMe span{display:none;}
.twitted p.preLoader{margin:0;padding:1em 1em 1em 3em;background:transparent url(images/loader.gif) 1em center no-repeat;/* generate your own loader gif: http://www.ajaxload.info */}

/* flickr */
.block-flickr h3.title{position:relative;}
.block-flickr h3.title span{padding-left:42px;}
.block-flickr h3.title span.icon{background:transparent url(images/flickr.png) no-repeat left top;top:30%;left:0;position:absolute;width:37px;height:17px;padding:0;}
.block-flickr ul,.block-flickr ul li{list-style-type:none;padding:0;margin:0;}
.block-flickr li{float:left;}
.block-flickr li a{padding:0 2px;display:block;}
.block-flickr li img{border:5px solid #eee;}
.block-flickr .flickrGallery{padding-left:4px;}


/*** MISC ***/

/* lightbox */
div#fancy_overlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;display:none;z-index:30;}
div#fancy_wrap{text-align:left;}
div#fancy_loading{position:absolute;height:40px;width:40px;cursor:pointer;display:none;overflow:hidden;background:transparent;z-index:100;}
div#fancy_loading div{position:absolute;top:0;left:0;width:40px;height:480px;background:transparent url(images/loader.gif) no-repeat;}
div#fancy_loading_overlay{position:absolute;background-color:#FFF;z-index:30;}
div#fancy_outer{position:absolute;top:0;left:0;z-index:90;padding:18px 18px 33px;margin:0;overflow:hidden;background:transparent;display:none;}
div#fancy_inner{position:relative;width:100%;height:100%;background-color:#eee;}
div#fancy_content{margin:0;z-index:100;position:absolute;}
div#fancy_div{background-color:#000;color:#FFF;height:100%;width:100%;z-index:100;}
img#fancy_img{position:absolute;top:0;left:0;border:0;padding:0;margin:0;z-index:100;width:100%;height:100%;}
#fancy_frame{position:relative;width:100%;height:100%;display:none;}
#fancy_ajax{width:100%;height:100%;overflow:auto;}
a#fancy_left,a#fancy_right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;z-index:111;display:none;outline:none;}
a#fancy_left{left:0;}
a#fancy_right{right:0;}
span.fancy_ico{position:absolute;top:50%;margin-top:-15px;width:30px;height:42px;z-index:112;cursor:pointer;display:block;opacity:0.5;}
span#fancy_left_ico{left:-9999px;background:transparent url(images/block-nav.png) no-repeat left top;}
span#fancy_right_ico{right:-9999px;background:transparent url(images/block-nav.png) no-repeat right top;}
a#fancy_left:hover{visibility:visible;}
a#fancy_right:hover{visibility:visible;}
a#fancy_left:hover span{left:20px;}
a#fancy_right:hover span{right:20px;}
.fancy_bigIframe{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
div#fancy_title{width:100%;z-index:100;display:none;background-color:#4e4e4e;color:#fff;text-align:center;font-weight:bold;font-size:150%;padding:.2em 0;}

/* page controls */
#pageControls{position:absolute;left:0;top:0;width:100%;height:120px;z-index:0;}
#pageControls a{background:transparent url(images/page-controls.png) no-repeat right top;position:absolute;width:22px;height:21px;right:10px;top:10px;}
#pageControls a:hover{background-position:right bottom;}
#pageControls a.fontSize{background-position:left top;right:36px;}
#pageControls a.fontSize:hover{background-position:left bottom;}


/* other */
.clearFieldBlurred{color:#ccc;font-style:italic;font-weight:normal;}
.clearFieldActive{color:#4e4e4e;font-weight:bold;}
.clear{clear:both;height:0;}
.error{color:#ed1e24;}
.divider{padding:1em 0 0 0;display:block;background:transparent url(images/dot.gif) repeat-x left bottom;height:2px;min-height:2px;}
.altText{font-style:italic;color:#a0c207;}


/* clearfix */
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix{
  min-width: 0;		        /* trigger hasLayout for IE7 */
  display: inline-block;
  /* \*/ display: block;	/* Hide from IE Mac */
}

* html .clearfix{
/* \*/  height: 1%;	    /* Hide from IE Mac */
}

img.alignleft,img.alignright{padding:3px;margin-top:4px;margin-bottom:4px;border-radius:4px;}
.alignleft{float:left;margin-right:8px;}
.alignright{float:right;margin-left:8px;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;text-align:center;}
.bubble-trigger{position:relative;}
.bubble{display:none;position:absolute;z-index:10;}

/* jquery caption - to do */
.imgCaption{position:relative;overflow:hidden;padding:0;border:0;margin-top:8px;margin-bottom:8px;display:inline-block;}
.imgCaption p{position:absolute;background-color:#000;color:#fff;width:100%;font-weight:bold;padding:0;margin:0;line-height:150%;text-align:center;border:0;z-index:10;left:0;opacity:0.6;}
.imgCaption p span{ padding:12px;display:block;}


.wp-caption{border: 1px solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;margin:10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.wp-caption img{margin:0;padding:0;border:0 none;}
.wp-caption-dd{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}

.webshot{position:absolute;left:-20000px;background-color:rgba(0,0,0,0.4);padding:5px;z-index:10;display:none;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.4);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.4);box-shadow:0px 0px 8px rgba(0,0,0,0.4);}
.webshot img{margin:0;padding:0;}


/* smiley adjustment */
img.wp-smiley{vertical-align:-10%;}



/* tabs (code inspired by smashing magazine's comment tabs */
ul.tabs li a{}
ul.tabs li a:hover{}
.tabbed-content div.sections{position:relative;overflow:hidden;}
.tabbed-content div.section{position:relative;display:none;}
.tabbed-content div.section h6.title{font-size:120%;font-weight:normal;font-style:italic;text-transform:uppercase;margin:0;padding:0;}

.tabs,.tabs li{margin:0;padding:0;list-style-type:none;}
.tabs-wrap{padding-bottom:30px;background:url(images/tabs-bg.png) no-repeat left 34px;margin:2em 0 .4em 0;}
.tabs{list-style:none;overflow:hidden;height:34px;position:relative;font-size:115%;text-transform:uppercase;}
.tabs li{float:right;text-align:center;height:31px;background:none !important;margin-right:5px;padding-right:24px;margin-top:4px;position:relative;z-index:0;bottom:-4px;/* <-for the animation */line-height:28px;}
.tabs li a{height:31px;color:#4e4e4e;float:left;text-decoration:none;text-shadow:#fff 1px 1px 1px;font-weight:bold;background:url(images/tabs.png) no-repeat left top;padding-left:26px;padding-right:4px;}
.tabs li:hover{background-position:right -66px;}
.tabs li:hover a,.tabs li a:hover{background-position:0 -66px;}
.tabs li.active{background-position:100% -33px;z-index:8;padding-right:24px;}
.tabs li.active a,.tabs li.active a:hover{background-position:0 -33px;color:#fff;text-shadow:rgba(0,0,0,0.4) 1px 1px 1px;}

a.js-link{cursor:pointer;text-decoration:underline;}
a.js-link:hover{text-decoration:none;}

.crap-browser-warning{background-color:#ed1e24;text-align:center;color:#fff;padding:4px 0;position:absolute;top:0;left:0;width:100%;}
.crap-browser-warning a,.crap-browser-warning a:hover{font-weight:bold;color:#fff;text-decoration:underline;}


/*** WORDPRESS: SUPPORT FOR OTHER WIDGETS ***/

/* tag cloud */
.block-widget_tag_cloud{text-align:justify;line-height:150%;}
.block-widget_tag_cloud a{vertical-align:middle;text-decoration:none;padding:0 0.2em;letter-spacing:-0.02em;color:#666;}
.block-widget_tag_cloud a:hover{background-color:#dde90d;color:#000;}

/* calendar */
table#wp-calendar{width:100%;padding:0;margin:0;}
table#wp-calendar td,table#wp-calendar th{text-align:center;padding:2px;}
table#wp-calendar th{font-weight:bold;font-size:125%;}
table#wp-calendar caption{font-style:italic;text-align:right;}


/*** PRINT STYLES ***/

@media print {

 body{background:white;color:black;font-size:10pt}
 .header-wrapper{display:none;}
 .shadow-left.main-wrapper,.main-wrapper .shadow-right,#main,#main-inside{background:none;}
 #main{background-color:#fff;}
 .page-content{width:100% !important;max-width:none !important;min-width:0 !important;}
 #footer-blocks .leftFade,#footer-blocks .rightFade{display:none;}

}


.block .item-list ul li{
  background: none !important;	
}

.block ul li {
	list-style:none !important;
}

.post-tags ul li {
	margin-right: -15px;
}

#mission {
	padding: 6px 6px 6px 6px;
	margin-bottom: 12px;
}

.breadcrumb {
	margin: 7px;
}


/* Comments from wordpress theme pixel */
/* Comments */

#comments {
  margin-bottom: 10px;
  margin-top: 15px;

  width: 530px; /* fixes bug in IE7 where putting focus on the text makes it disappear behind the background. yeah, weird. they call it a dimensional bug. */

  padding: 0px 15px 10px 15px;

  }
#comments h3 {
  font-size: 10pt;
  font-weight: normal;

  margin: 15px 0;
  padding: 0;
  }
#comments p a {
  color: #6598b8;
  }
#comments p a:hover {
  color: #fff;
  }
#comments p {
  padding:0;
  margin: 7px 0;
  }
ul.commentlist, ul.trackback  {
  list-style-type: none;
  margin: 10px 0;
  font-size: 9pt;
  }
.commentlist li, .trackback li {
  margin: 10px 0 15px 0;
  padding: 10px;
  background: #f8f8f8;
  list-style-type: none;
  }
.commentlist li.alt {
 	background: transparent;
	border: none;
	margin-top: 10px;
  }
.commentlist li.cleared {
  background: transparent;
  border: none;
  }

.commentlist div.picture {
  float: left;
  margin-bottom:10px;

}

.commentlist .commentbody {
  margin: 0;
  padding: 0;
  position:relative;
  left:12px;
}

.commentlist .commentbody p a {
  text-decoration: underline;
  }
.commentlist cite a{
  font-size: 10pt;
  font-style: normal;
  color: #000000;
  }
.commentlist small.commentmetadata a {
  color: #666;
  }

#respond {
  clear: both;
  margin-top: 15px;
  }
textarea#comment {
  width: 450px;
  background: #fff;
  color: #111;
  padding: 10px;
  }
#comments #submit {
  margin: 0;
  }
  
.cleared {
	height: 1px;
	clear: both;
}
.postlinks {
	margin: 15px;
}
.page-navigation a:hover {
	color:#0071bb !important;
}
